# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import json
from api_keys import vacay_key
gmaps.configure(api_key = vacay_key)

In [2]:
# read the cities.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
weather_map = pd.read_csv("../output_data/cities.csv", encoding="utf-8")
weather_map.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = weather_map[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_map["Humidity"]

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=vacay_key)

In [5]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#   A max temperature lower than 80 degrees but higher than 70.
maxhh = weather_map[(weather_map["Humidity"] <= 80) & (weather_map["Humidity"] >= 70)]
maxhh.dropna(how='any')

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
5,5,atuona,78,PF,1558378755,76,-9.80,-139.03,81.96,16.49
...,...,...,...,...,...,...,...,...,...,...
531,531,russell,75,AR,1558378895,71,-33.01,-68.80,50.00,12.75
535,535,villaviciosa,20,ES,1558378896,71,43.48,-5.43,59.00,6.93
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83
540,540,talmenka,40,RU,1558378897,76,53.82,83.56,51.80,11.18

In [7]:
#   *Wind speed less than 10 mph.
speed = maxhh[(maxhh["Wind Speed"] < 10)]
speed.dropna(how='any')

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
...,...,...,...,...,...,...,...,...,...,...
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70
524,524,mogadishu,79,SO,1558378801,79,2.04,45.34,80.88,9.78
535,535,villaviciosa,20,ES,1558378896,71,43.48,-5.43,59.00,6.93
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83

In [8]:
#   Zero cloudiness.
clear = speed[(speed["Cloudiness"] == 0)] 
clear.dropna(how='any')

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
248,248,ancud,0,CL,1558378825,70,-41.87,-73.83,48.20,9.17
251,251,leningradskiy,0,RU,1558378827,80,69.38,178.42,22.20,6.38
359,359,sorland,0,NO,1558378858,71,67.67,12.69,53.60,5.82
422,422,susuman,0,RU,1558378875,75,62.78,148.15,22.38,3.15
433,433,svodin,0,SK,1558378878,72,47.91,18.50,63.00,6.93
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

In [9]:
#    Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal ^^^^^^^^^^^
nice_weather_df = weather_map.loc[(weather_map["Wind Speed"] <= 10) & (weather_map["Cloudiness"] == 0) & \
                                   (weather_map["Max Temp"] >= 70) & (weather_map["Max Temp"] <= 80)]
nice_weather_df.dropna(how='any')

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17


### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#    Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal ^^^^^^^^^^^
nice_weather_df = weather_map.loc[(weather_map["Wind Speed"] <= 10) & (weather_map["Cloudiness"] == 0) & \
                                   (weather_map["Max Temp"] >= 70) & (weather_map["Max Temp"] <= 80)]
nice_weather_df.dropna(how='any') 
nice_weather_df.reset_index(inplace=True)
del nice_weather_df['index']
nice_weather_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
1,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
2,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
3,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
4,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = nice_weather_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

           City Country    Lat    Lng Hotel Name
0         opuwo     NaN -18.06  13.84
1  ponta do sol      BR -20.63 -46.00
2      cidreira      BR -30.17 -50.22
3     morondava      MG -20.30  44.28
4         vaini      IN  15.34  74.49
5         nador      MA  35.17  -2.93
6         mogok      MM  22.92  96.51
7       birjand      IR  32.86  59.22

In [12]:
for i in range(len(hotel_df)):
    lat = hotel_df.loc[i]['Lat']
    lng = hotel_df.loc[i]['Lng']

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : vacay_key}

In [ ]:
for hotel in hotel_df:
    # get city name, lat, lnt from df
    lat = hotel_df["Lat"]
    lng = Hotel_df"Lng"]
    city_name = hotel_df["City"]
    hotel = hotel_df["Hotel Name"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Hotel: {hotel} in {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig